body {
	text-align: center;
	font-size: 1.3em;
	display: flex;
	justify-content: center;
	margin: 0;
	background: linear-gradient(to bottom, rgb(145, 213, 218), rgb(24, 40, 119));
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	overflow-y: hidden;
}
a {
	text-decoration: none;
	color: rgb(23, 19, 249);
}
a:hover {
	color: rgb(51, 83, 3);
}

.rainbow-text {
	background: linear-gradient(to right, #f00,#f00,#ffb300,#ffb300, #e6e206, #f9a825, #ff5722);
	background-clip: text;
	-webkit-background-clip: text;
  	-webkit-text-fill-color: transparent;
}
/* ------------------------ */
#gradient-border {
	width: 70%;
	margin-top: 2%;
	padding: 5px;
	padding-bottom: 0;
	border-radius: 20px 20px 0 0;
	background: linear-gradient(to bottom, rgb(255, 242, 0), red);
}
#main-wrapper {
	height: 100%;
	/* border: 3px solid #111; */
	border-radius: 15px 15px 0 0;
	
	background: #c1e4f1;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	/* background: #d7fd00; */
	/* background: #c2e400; */
}
#content {
	padding: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
	/* overflow-y: auto; /* if it doesnt fit vertically - hide footer*/
}
footer {
	width: 100%;
	/* height: 8%; */
	border-top: 3px solid red;
	background-color: rgba(0, 255, 0, 0.249);
	background: linear-gradient(to right, red, yellow, red);
	padding: 15px 0;
	font-size: .75em;
}

/* --------------- */
#pattern-table {
	width: 60%;
	aspect-ratio: 1;
	padding: 6px;
	margin: 15px;
	border: 2px solid #000;
	border-radius: 8px;
	background-color: #ccc;
}

.lock-row {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}
.lock-cell {
	aspect-ratio: 1;
	align-content: center;
}
.dot-div {
	width: 8%;
	height: 8%;
	padding: 6px;
	/* background-color: grey; */
	border-radius: 50%;
	justify-self: center;
}
.dot-div:hover {
	cursor: pointer;
}
.dot-div.selected {
	/* background-color: #222; */
	width: 10%;
	height: 10%;
}
.dot-div div {
	width: 100%;
	min-width: 2px;
	aspect-ratio: 1;
	border-radius: 50%;
	background-color: black;
}
